#container
    %a{href: "/board/wireframe2"}
        %img{src: "/wireframe1.png", width: "28%"}

// @images = {}
//         @images["/wireframe1.png"] = ["/wireframe2.png",
//           "/wireframe2.png"]
//         @images["/wireframe2.png"] = ["/wireframe3.png",
//           "/wireframe3.png"]
//         @images["/wireframe3.png"] = ["/wireframe4.png",
//           "/v1_screens/4_0.jpg"]
    
//         puts @images


// // IGNORE, BUT KEEP THIS LINE (Back button)   
// = render :partial => "application/back_to_root"



// #mirror
//     #webcam-feed.col-xs-12
//         %span MIRROR, MIRROR
      
// // IGNORE, BUT KEEP THIS LINE (Back button)   
// = render :partial => "application/back_to_root"

// :scss
//     #mirror{
//         height: 100%;
//         width: 100%;
//         color: white;
//         font-family: Avenir, sans-serif;
//         font-size: 4em;
//         text-align: center;
            
//         #webcam-feed{
//             height: 100%;
//             background: desaturate(blue, 80%);
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-direction: column;
//         }
       
//     }
   